{{!-- home page before login... maybe wont use. --}}
<title>Homepage</title>
<section class="welcome">
  <h1>Welcome to AsmVis</h1>
  <div class="buttons">
    <a href="users/login" class="btn btn-primary">Log In</a>
    <a href="users/signup" class="btn btn-secondary">Sign Up</a>
  </div>
  <h3>Recent Snippets:</h3>
  {{#each snippet}}
  <article>
    <a href="/snippets/{{this.snipId}}"><h2>{{this.snipName}}</h2></a>
    <p>Created by {{this.userId}}, Last edited at {{this.dateLastEdit}}</p>
  </article>
  {{/each}}
</section>
