{{!-- home page before login... maybe wont use. --}}
<section class="hero">
  <h1>Welcome to AsmVis</h1>
  <div class="buttons">
    <a href="/login" class="btn btn-primary">Log In</a>
    <a href="/signup" class="btn btn-secondary">Sign Up</a>
  </div>
</section>
