{{!-- Assembly Commands Documentation --}}
<title>Tutorial Page</title>
{{#> navbar }}{{/navbar}}
<section id="tutorial">
  <h1>Assembly Commands Documentation</h1>

  <h2>Available Commands</h2>
  <ul>
    <li>MOV: Moves a value into a register.</li>
    <li>ADD: Adds values from registers or constants.</li>
    <li>MUL: Multiplies values from registers or constants.</li>
    <li>DIV: Divides values, storing the result in the destination register and the remainder in the REM register.</li>
    <li>INC: Increments the value in a register by 1.</li>
    <li>DEC: Decrements the value in a register by 1.</li>
    <li>MOD: Calculates the modulus of two values.</li>
    <li>NEG: Negates the value in a register.</li>
    <li>AND: Performs a bitwise AND operation between two values.</li>
    <li>OR: Performs a bitwise OR operation between two values.</li>
    <li>XOR: Performs a bitwise XOR operation between two values.</li>
    <li>NOT: Performs a bitwise NOT operation on a value.</li>
  </ul>
</section>
