/* This will be the main css file. I am thinking we should
use normalize.css reset */

.error {
  color: red;
}

.snipDiv{
  width:99%;
}

.snippetBody {
  width: 100%;
  height: 350px;
  padding: 5px;
  display: flex;
  float: center;
  border: 1px solid #000000;
  background-color:gray;
  color: white;
}

.nav-ul {
  color:aliceblue;
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar {
  border-bottom: #000000;
}

.nav-li {
  display: inline;
  float: right;
}

.nav-a {
  display: inline;
  background-color: #dddddd;
}

h1 {
  font-size: 50px;
}

.consoleDiv{
  display: inline-block;
  background-color: rgb(57, 57, 57);
  width: 49%;
  border: 1px solid #000000;
  padding: 5px;
}

a{
  color:rgb(242, 49, 249);
}

body {
  background-color: rgb(76, 76, 76);
  color:#a6a6a6;
}
