/* This will be the main css file. I am thinking we should
use normalize.css reset */

.error {
color: red;
}

body {
  background-color: darkgrey;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-li {
  display: inline; 
}

.nav-a {
  
}