/* This will be the main css file. I am thinking we should
use normalize.css reset */

.error {
color: red;
}

body {
  background-color: darkgrey;
}

input{
  margin: 20px;
}

.snippetBody{
  width: 90px; 
  height: 390px; 
  border: 1px solid #999999; 
  padding: 5px;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-li {
  display: inline; 
}

.nav-a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}