{{!-- reusable header element --}}
  <header>
    <h1><a href="/homepage">Asm Vis</a></h1>
    <p hidden>Hello, {{userId}}</p>
    <p hidden><a href="/signup">Sign Up</a></p>
    <p hidden><a href="/login">Log In</a></p>
  </header>