{{!-- reusable header element --}}
  <header>
    <h1><a href="/homepage">Asm Vis</a></h1>
    <p >Hello, {{username}}</p>
    <p ><a href="/signup">Sign Up</a></p>
    <p ><a href="/login">Log In</a></p>
  </header>