{{!-- reusable navbar element --}}
<ul id="nav-ul">
  <li class="nav-li"><a id="nav-a" href="/homepage">ASM Vis</a></li>
  <!-- if user logged in-->
  <li class="nav-li">Hello, <a id="nav-a" href="/users/">{{username}}</a></li>
  <li class="nav-li"><a>Create New Snippet</a></li>
  <!-- if user not logged in-->
  <li class="nav-li"><a id="nav-a" href="/users/signup">Sign Up</a></li>
  <li class="nav-li"><a id="nav-a" href="/users/login">Log In</a></li>
</ul>